# Sets in Python

- A set is collection of different data types, which are unordered, unchangeable and unindexed.
- Sets are stored in curly braces {}.
- While said Set is Unchangeable: Set items are unchangeable, but you can remove items and add new items.
- Example of a set a = {"a",1,2.3,"vasu"}
- No Duplicates are allowed in sets.
- In sets True and 1, False and 0 are considered as same values.

- We can find the length of the set.

In [1]:
a = {"a",1,2.3,"vasu"}

len(a)

4

In [2]:
type(a)

set

In [5]:
b = set((1,2,3,2))
b

{1, 2, 3}

- We cannot loop a set as set is unordered. Instead we can use "in" operator to find the values in the set.

In [ ]:
b = set((1,2,3,2))


for c in b:
    print(c)

1
2
3

In [3]:
print(3 not in b)

False

In [4]:
b.add(4)

b

{1, 2, 3, 4}

- If we want to add two sets, we use the update() method.
- We can update a set with anyother datatypes like Lists, Tuples, Dict.

In [6]:
a = {"a",1,2.3,"vasu"}

b.update(a)

b

{1, 2, 2.3, 3, 4, 'a', 'vasu'}

- In sets we can remove the items, by using remove() or discard() methods.
- We can use the pop() method to remove but it removes the element anonymously.
- clear() method is used to clear the set and del() method is used to delete the entire set.

In [9]:
b.remove(3)
b

{1, 2, 2.3, 4, 'a', 'vasu'}

In [12]:
b.discard(1)
b

{2, 2.3, 4, 'a', 'vasu'}

In [15]:
b.pop()
b

{2.3, 'a', 'vasu'}

In [16]:
b.clear()
b

set()

In [17]:
del b

In [18]:
b

NameError: name 'b' is not defined

# Join in Sets
- We can update two sets into a single by using Join methods and operators.
- We have several methods in sets to join, Some of the methods are union() or '|' operator, intersection() or '&' operator, intersection_update(), difference(), difference_update(), symmetric_difference(), symmetric_difference_update().

- Union() method. 
- Note: The difference between union() and update()

In [4]:
set1 = {"a","b","c"}
set2 = {1,2,3}
set3 = {1,4,5,3,"y","z"}

set1.union(set2,set3)

{1, 2, 3, 4, 5, 'a', 'b', 'c', 'y', 'z'}

- Intersection() method.

In [5]:
set2.intersection(set3)

{1, 3}

- difference() method.

In [6]:
set2.difference(set3)

{2}

- Python has set of built-in methods we can use in sets.