# What is Tuple in Python?

- Tuple is a collection of different types of Data types. 
- It allows Duplicates.
- Tuple is Immutable
- No methods are used in tuple unlike Lits. Built-in functions are used.

- e.g. a = (1,2,"abc","False",[1,2,3]). In this example we have mutable object called list. As said before tuple is immutable, still we can modify the list in it. a[4].append(4)

In [ ]:
a = (1,3,5,"Vasu",10,13,25)

print(a)
print(a[-1])
print(a[2:5]) #Range
type(a)

(1, 3, 5, 'Vasu', 10, 13, 25)
25
(5, 'Vasu', 10)

tuple

- We know tuples are unchangeable. But there is a workaround, we can convert a tuple into list and modify it's elements and convert back to tuple.

In [9]:
b = list(a)

b[0] = 0
b.append("123")
b

[0, 3, 5, 'Vasu', 10, 13, 25, '123']

In [10]:
a = tuple(b)

a

(0, 3, 5, 'Vasu', 10, 13, 25, '123')

- We can add a tuple to another tuple.

In [11]:
c = ("Coolie","War2","HHVM")

a += c

a

(0, 3, 5, 'Vasu', 10, 13, 25, '123', 'Coolie', 'War2', 'HHVM')

- Unpacking Tuple:
- When we create a tuple, we assign values to it. That is called packing a tuple.
- There is a option called unpacking a tuple, where the values in the tuple can be extracted and assign it to variables.

- Note: The number of variables must match the number of values in the tuple,if not use the "*" symbol to collect the remaining values as a list.

In [ ]:
a = ("Apple", "Orange", "Grapes")

(b,c,d) = a

c

'Orange'

In [14]:
(*b,c) = a

b

['Apple', 'Orange']

- You can join two tuples with + operator
- You can multiply content of tuples with * operator

In [19]:
a = (1,2,3)
b =("1","2","3")

c = a + b
d = a * 4  

print(c)
print(d)

(1, 2, 3, '1', '2', '3')
(1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3)

In [25]:
d.count(1)

4

In [ ]:
d.index(3)

2