# What is Python?
- Python is an interpreted Language.

# What is Print statement in Python?

- The Print is a Built-in function in Python is used to display the o/p in the console.
- Print is mostly used when there is a need of Debugging in the code.
- It accepts different data types as a i/p.

In [1]:
print("Hello World")

Hello World

# What are Variables in Python?

- Variables in Python are names given to store any data values which were later used in the code.
- Unlike C, C++ or any other OOPS languages, in Python no need to define the data types expicitly. Values can be assigned to a variable without defining it's type.

In [2]:
a = 10
b = 20

print(f"value of a {a} and value of b {b}")

value of a 10 and value of b 20

# What are Data Types in Python?

- In python each variable is assigned with a value, each values has it's own type of data.
- There are different Data Types in Python.
- 1. Primitive Data Types : String, Integer, Complex, Boolean. These are also called as build-in data types in Python.
- 2. Non-Primitive Data Types : Lists, Tuples, Sets, Dictionaries.

# What is Set Data Type?

- A set is a collection of unique elements which are unordered.
- Set is Mutable.
- Elements in the set are immutable.

In [ ]:
a = "1000"

a = set(a)

print(a)

{'1', '0'}

# What is Range in Python?

- In Python range is a built-in sequence type that represents the sequence of numbers.
- Range is a data type in Python with it's type as "range".

In [7]:
for i in range(6):

    print(i)

0
1
2
3
4
5

In [9]:
a = 10
b = 10.5
c = "Vasu"
d = True

print(f"{a} is an {type(a)},{b} is a {type(b)},{c} is a {type(c)},{d} is a {type(d)}")

10 is an <class 'int'>,10.5 is a <class 'float'>,Vasu is a <class 'str'>,True is a <class 'bool'>

# What are Lists in Python?

- In Python Lists are collection of elements with different data types.
- Lists are mutable.
- Duplicate elements are allowed in Lists.
- Each value in the lists are associated with index numbers from 0 to so on.
- There are different methods that can be used on Lists.

In [18]:
Roll_Numbers = [1,2,"3",4,5,6,7,8,9,"10"]

print(f"{Roll_Numbers} is {type(Roll_Numbers)}")

[1, 2, '3', 4, 5, 6, 7, 8, 9, '10'] is <class 'list'>

# Append Method:

- When append() method is performed on any List, the element or value which has to be appended will add to the end of the List.

In [29]:
Roll_Numbers.append(11)

In [17]:
print(f"{Roll_Numbers} is {type(Roll_Numbers)}")

[] is <class 'list'>

# Clear Method:

- When clear() method is performed on any List, it clears the List and makes it empty List.

In [16]:
Roll_Numbers.clear()

In [19]:
b = Roll_Numbers

print(f"{b}")

[1, 2, '3', 4, 5, 6, 7, 8, 9, '10']

In [21]:
print(f"{b}")

[1, 2, '3', 4, 5, 6, 7, 8, 9, '10', 11]

# Copy Method:

- The copy() method creates the copy of a List and stores it with a new object reference.

In [24]:
a = [1,2,3]
b = a

print(f"{a}")
print(f"{b}")

[1, 2, 3]
[1, 2, 3]

In [25]:
a.append(4)

print(f"{a}")
print(f"{b}")

[1, 2, 3, 4]
[1, 2, 3, 4]

In [26]:
a = [1,2,3]
b = a.copy()

print(f"{a}")
print(f"{b}")

[1, 2, 3]
[1, 2, 3]

In [27]:
a.append(4)

print(f"{a}")
print(f"{b}")

[1, 2, 3, 4]
[1, 2, 3]

# Count Method:

- Count() Method returns an integer value counting the number of times a particular value is specified in the List.

In [30]:
Roll_Numbers.count(11)

2

# Index Method:

- Index() method returns an integer value, stating where the specified element is stored in the List.

In [31]:
Roll_Numbers.index(11)

10

# Extend Method

- Extend() Method is used to add the two lists. The extended list is added to the end of the first list.

In [34]:
a = [1,2,3]
b = [4,5,6]

a.extend(b)

print(f"{a}")

a.append(b)

print(f"{a}")

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6, [4, 5, 6]]

# Insert Method:

- Insert() method is used to add any elements in the List.
- To add the elements, two arguments should be passed, one is the index number and value to that index number.

In [35]:
a.insert(0,0)

print(f"{a}")

[0, 1, 2, 3, 4, 5, 6, [4, 5, 6]]

In [36]:
a.insert(0)

print(f"{a}")

TypeError: insert expected 2 arguments, got 1

# Sort Method:

- Sort() method is performed on lists to arrange the values in an order.

In [37]:
a = [4,5,1,2]
a.sort()

print(f"{a}")

[1, 2, 4, 5]

# Reverse Method:

- reverse() method is performed on Lists to arrange the elements in a reverse order.

In [38]:
a = [4,5,1,2]
a.reverse()

print(f"{a}")

[2, 1, 5, 4]

# Pop Method:

- Pop() method is used to remove the element on a specified position in the list using index number or default it is last item in the list.

In [39]:
a.pop()

4

In [40]:
print(f"{a}")

[2, 1, 5]

# Remove Method:

- remove() method is used to remove the specified element in the list with it's value.

In [41]:
a.remove(1)
print(f"{a}")

[2, 5]

# Print Name,Age and Favourite Language

In [1]:
name = "Vasu"
age = 27
fav_lang = "Python"

print(f"My name is {name}, age is {age} and favourite language is {fav_lang}")

My name is Vasu, age is 27 and favourite language is Python

# Find the lenght of the list.

In [2]:
a = [1,2,3,4,5]
count = 0

for i in a:
    count = count + 1

print(f"The length of the list is {count}")

The length of the list is 5

In [3]:
a = [1,2,3,4,5]
total = 0

for i in a:
    total = total + i

print(f"The sum of the list is {total}")

The sum of the list is 15

# Check if Elements exist

In [4]:
a = [1,2,3,4,5]

if len(a) != 0:
    print("The list is not Empty")
else:
    print("The list is Empty")

The list is not Empty

# Find Min and Max in the List

In [5]:
a = [1,2,3,4,5]
min_val = a[0]
max_val = a[0]

for i in a:
    if i < a[0]:
        min_val = i
    elif i > a[0]:
        max_val = i

print(f"The min value is {min_val}")
print(f"The Max value is {max_val}")

The min value is 1
The Max value is 5


# Extract Even numbers from a list

In [6]:
a = [1,2,3,4,5,6,7,8,9,10]
b = []

for i in a:
    if i % 2 == 0:
        b.append(i)

print(b)

[2, 4, 6, 8, 10]

# Using for loop print 1 to 10

In [10]:
a = []

for i in range(1,11):
    a.append(i)

print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# Using for loop print 10 to 1

In [22]:
a = []

for i in range(10,0,-3):
    a.append(i)

print(a)

[10, 7, 4, 1]

# Using for loop print even numbers between 1 to 100

In [14]:
a = []

for i in range(1,100):
    if i % 2 == 0:
        a.append(i)

print(a)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98]

# Printing *'s

In [16]:
print("*")
print("**")
print("***")
print("****")

*
**
***
****

In [17]:
print("1")
print("12")
print("123")
print("1234")

1
12
123
1234