# What are Operators in Python?

- Operators are something that are performed on one or more operands to perform operations.
- There are some operators that used often in Python: 1. Addition and Unary Plus (+)
                                                      2. Subtraction and Unary Minus (-)
                                                      3. Multiplication (*)
                                                      4. Division(/)
                                                      5. Floor Division(//)
                                                      6. Modulus(%)
                                                      7. Power(**)

# 1. Addition and Unary Plus:

- Unary Plus: Performing operation on single operand.
- Addition Plus: Performing operation on two or more operands.

In [1]:
x = -10
y = +x

y

-10

In [4]:
x = 10
y = 10

x + y

20

# 2. Substraction and Unary Minus:

- Unary Minus: Performing operation on single operand.
- Substraction Minus: Performing operation on two or more operands.

In [5]:
x = -10
y = -x

y

10

In [6]:
x = -10
y = -20

x-y

10

# 3. Multiplication

In [7]:
x = 10
y = 20

x * y

200

# 4. Division

In [8]:
x = 20
y = 10

x / y

2.0

# 5. Floor Division

In [9]:
x = 20
y = 10

x // y

2

# 6. Modulus

In [10]:
x = 4
y = 3

x % y

1

# 7. Power

In [11]:
x = 4
y = 5

x ** y

1024

# Precedence and Associativity of Arithmetic Operators.

- Precedence: In an expression precedence tells, in which order the operators should be performed on operands.
- Associativity: It tells the order of evaluation of the operators with same precedence in an expression.

- In the below example, Floor division has the highest precedence. So, 8//2 is performed first. Next 10 + 5 - 4 will be there. As + and - has the same precendence Associativity comes in to the picture. For + and - the order of reading the expression is Left to Right. So it is 15-4 = 11. 

Note: The order of execution is same for all the expressions which is from left to right except for **. For ** it reads from Right to Left.

In [2]:
10 + 5 - 8 // 2

11

# Comparison Operators or Relational Operators:

- Comparison operators are used to compare two operands at a time. Comparison Operands often return True or False from the statement.

- Some of the Comparison operators are >,<, ==, <=, >=, !=

- Note: Single = is an assignment operator.

In [3]:
10 > 20

False

In [4]:
10 < 20

True

In [5]:
10 == 20

False

In [6]:
10 <= 5

False

In [7]:
10 >= 5

True

In [8]:
10 != 20

True

In [9]:
10 != 10

False

In [3]:
a = 10

a += 2

a

12

In [ ]:
a = 10

a -= 2

a

8

In [7]:
a = 2
b = 2

print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

True
False
False
False
True
True

In [8]:
a == 2 and b ==2

True

In [9]:
a == 2 or b ==2

True

In [10]:
a == 2 and b == 5

False

In [ ]:
a == 2 or b == 5

True

In [13]:
not(a == 5)

True

In [14]:
not(a == 2)

False

In [15]:
not((a == 2) and (b == 5))

True

In [18]:
x = [1,2,3]
y = [4,5,6]
z = x

print(id(x))
print(id(y))
print(id(z))

print(x is z)
print(x is not y)

1810732917248
1810732661440
1810732917248
True
True

In [19]:
5 in x

False

In [20]:
5 not in x

True

In [21]:
print(6 & 3)

2

In [22]:
print(6 | 3)

7

In [23]:
print(6 ^ 3)

5

In [24]:
print(3 << 2)

12

In [25]:
print(3 >> 2)

0

In [26]:
~8

-9

In [27]:
3 & 1

1

In [28]:
3 | 1

3

- Write a program to check if a number is positive, negative, or zero.

In [33]:
a = input()
a = int(a)

if a > 0:
    print(f"{a} is positive")
elif a < 0:
    print(f"{a} is negative")
else: 
    print(f"{a} is Zero")

3 is positive

In [32]:
type(a)

int

- Check if a number is positive and even

In [2]:
a = input()
a = int(a)

if a >= 0 and a % 2 == 0:
    print(f"{a} is Positive and Even")
else:
    print(f"{a} is not both positive and even")

10 is Positive and Even

- Verify if a number lies between 50 and 100 inclusive. in(membership)

In [5]:
a = input()
a = int(a)

if a in range(50,101):
    print(f"{a} is in given range")
else:
    print(f"{a} is out of range")

101 is out of range

- Compare two strings and check if their lengths are equal.

In [6]:
a = input()
b = input()

if len(a) == len(b):
    print(f"The Length of {a} and {b} are equal")
else:
    print(f"The Length of {a} and {b} are not equal")

The Length of Vasu and Shanmukh are not equal

- Given three numbers, check if all are positive using and.

In [1]:
a = input()
a = int(a)
b = input()
b = int(b)
c = input()
c = int(c)

if a >= 0 and b >= 0 and c >= 0:
    print("All the numbers are positive")
else:
    print("All the numbers are not positive")

All the numbers are not positive

- Check if at least one number among three is even using or.

In [ ]:
a = input()
a = int(a)
b = input()
b = int(b)
c = input()
c = int(c)

if a % 2 == 0 or b % 2 == 0 or c % 2 == 0:
    print("Atleast one value is Even")
else:
    print("No value is Even")

Atleast one value is Even

- Check if a given number is divisible by both 2 and 3.

In [6]:
a = int(input())

if a % 2 == 0 and a % 3 == 0:
    print("The given number is divisible by both 2 and 3")
else:
    print("The given number is not divisible by both 2 and 3")

The given number is not divisible by both 2 and 3

- A student passes if marks ≥ 40 and attendance ≥ 75%. Check and print pass/fail.

In [7]:
marks = int(input())
attendance = int(input())

if marks >= 40 and attendance >= 75:
    print("Student Passed")
else:
    print("Student failed")

Student failed

- Check if a year is a leap year:

In [10]:
year = int(input())

if year % 4 == 0 and year % 100 != 0 or year % 400 == 0:
    print("It is leap year")
else:
    print("It is not a leap year")

It is leap year

- Start with x = 10, use += to add 5, then *= to multiply by 2, then -= to subtract 3. Print final value.

In [11]:
x = 10
x += 5
x *= 2
x -= 3

x

27

- Write a program to calculate n^5 using **=.

In [14]:
n = int(input())
n **= 5

n

32

- Given price = 500, reduce it by 10% using *= and print updated price.

In [18]:
price = 500
price *= 1 - 10/100

price

450.0

- Swap two variables with using a third variable.

In [19]:
a = 10
b = 20

c = a
a = b
b = c

a,b

(20, 10)

In [22]:
a = 20
b = 10
a,b = b,a

a,b

(10, 20)